# VScode files
.vscode/

# Terraform local directories
**/.terraform/*

# Terraform state file because sensitive data
*.tfstate
*.tfstate.*

# Terraform plans
*.plan

# Terraform lock
.terraform.lock.hcl

# Ansible retry
*.retry

# PEM files
*.pem